/* Write your CSS code here */
.li_container {
  margin: 5px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
}

.logoAndName {
  display: flex;
  align-items: center;
  width: 60%;
}

.currency_logo {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  margin-left: 2px;
}

.currencyName {
  color: white;
  font-weight: 500;
}

.usd_value {
  color: white;
  font-weight: 500;
  width: 20%;
}
.euro_value {
  color: white;
  font-weight: 500;
  width: 20%;
}
